<div class="add task view">
<div class="container"><header>
<h3>Hello</h3>
</header>
<h3>Add Task Home Page</h3>
<div>
<h4>Please tell us about you</h4>


Task Name : <input type="text" id="txtFirstName"
	data-ng-model="newCustomer.taskName" placeholder="First Name">
<br />
<br />
Task Description : <input type="text" id="txtLastName"
	data-ng-model="newCustomer.taskDescription" placeholder="Last Name"> <br />
<br />

Due Date : <input type="text" data-ng-model="newCustomer.dueDate"
	id="txtEmail" placeholder="01/12/1980"> <br />
<br />
Number: <input type="number" name="input"
	ng-model="newCustomer.priority" min="0" max="10" required></div>

<div class="row">
<div class="span6">

     <span data-ng-hide="editMode"> 
     <input type="submit" value="Add Task" 
    data-ng-disabled="!newCustomer.taskName || !newCustomer.dueDate"
     data-ng-click="insertCustomer()" 	class="btn btn-primary" />
     </span> 
     <span data-ng-show="editMode"> 
     <input	type="submit" value="Update Task" 
     data-ng-disabled="!newCustomer.taskName || !newCustomer.dueDate"
     data-ng-click="update()" class="btn btn-primary" /> 
     </span>
</div>