<div class="home page view">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand " href="#/">
                    <img src="Content/Images/people.png" alt="logo"> Customer Manager
                </a>
                <ul class="nav nav-pills" data-ng-controller="NavbarController">
                    <li data-ng-class="{'active':getClass('/taskHomePage')}"><a href="#/customers">Home</a></li>
                    <li data-ng-class="{'active':getClass('/orders')}"><a href="#/orders">Orders</a></li>
                </ul>
            </div>
        </div>
    </div>
	<div class="container">
		<header>
			<h3>Hello</h3>
		</header>
		<div data-ng-model="user"><h3 >Hello! {{loggedInUser.firstName}} {{loggedInUser.lastName}} </h3></div>

		<div class="row">




				<button id="addTask" class="btn btn-primary" ng-click="go('/addTask')">
						Add Task
					</button>

		</div>
		<br />
		<br />
		<div>
			<div class="row">
				<table class="table table-striped table-bordered table-condensed">
					<thead>
						<tr>
							<td>Task Name</td>
							<td>Task Description</td>
							<td>Priority</td>
							<td>Due Date</td>
							<td></td>
						</tr>
					</thead>
					<tbody ng-repeat="task in tasks" id="task_+{{task.id}}">
						<tr>
							<td>{{task.taskName}}</td>
							<td>{{task.taskDescription}}</td>
							<td>{{ task.priority }} </td>
							<td>{{ task.dueDate }} </td>
							<td><a href="#/editTask/{{task.id}}">Edit</a> <a href ng-click="deleteTask(task.id)">Delete</a></td>
						</tr>

					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>