<!DOCTYPE html>
<html data-ng-app="toDoAssignment">
<head>
    <title>Customer Manager</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet" />

</head>
<body>

  <div class="container">
    <div class="container-fluid" id="pageDiv" style="margin-top: 50px; width: 100%; height: 100%" data-ng-controller='loginController'>
		<div class="container center-block text-center" style="text-align: center; width: 500px;position: 100px; vertical-align: middle; x: 200px; padding-top: 200px">

			<div id="divClient"  class="panel panel-primary " >
				<div class="panel-heading">
					Login Panel
				</div>

				<div id="loginPanel" class="panel-body" >
					UserName :
					<input type="text" id="txtIdClient" placeholder="USERNAME" ng-model='user.userName'>
					<br />
					<br />
					Password :
					<input type="password" id="txtNomClient" placeholder="PASSWORD" ng-model='user.password'>
					<br />
					<br/>
					<a id="cmdAddClient1" role="button" class="btn btn-warning" href ng-click="openRegistrationPage()">Register</a>
					<button id="login" href="#loadingBar" class="btn btn-primary" ng-click="login()" >
						Login
					</button>
				</div>
				<br>
				<ul id="listeClient"></ul>
			</div>
		</div>
     </div>
    <!-- Note that AngularJS 1.2+ now has a built-in ng-animation direction. Left in animated-view to show a
         custom directive -->
    <div animated-view></div>


    <div id="footer">
        <div class="navbar navbar-fixed-bottom">
            <div class="navbar-inner">
                <div class="container">
                    <footer>
                        <div class="row">
                            <div class="span4">
                                Created by Prateek Srivastava
                            </div>
                            <div class="span4">
                                Twitter: <a href="http://twitter.com/prateeksri123">@prateeksri123</a>
                            </div>
                        </div>
                   </footer>
                </div>
            </div>
        </div>
    </div>

    <!-- Vendor Libs: jQuery only used for Bootstrap functionality -->
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-route.js"></script>
    <script src="js/lib/jquery.min.js"></script>

    <!-- UI Libs -->
    <script src="js/lib/bootstrap.js"></script>


    <!-- App libs -->
    <script src="app/app.js"></script>
    <script src="app/controllers/controllers.js"></script>
    <script src="app/services/customersService.js"></script>
    <script src="app/directives/animatedView.js"></script>
</body>
</html>